html{
    background-color: rgb(235, 184, 165)

}
body{
    background-color: rgb(228, 154, 176);
    text-align:center;
}

h1{
    color: rgb(144, 76, 119);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    size: 50;
}