html{
    background-color: rgb(101, 130, 168)

}
body{
    background-color: rgb(169, 204, 221);
    text-align:center;
}

h1{
    color: rgb(49, 64, 97);
    background-color: rgb(189, 227, 236);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 140px;
    border-style:outset;
    border-width: 15px;
    border-radius: 5px;
    padding: 5px;

}

nav {
    background-color:rgb(124, 184, 202)
}

nav ul {
    
    list-style-type: none;
    border-style: outset;
    border-width: 5px;
    padding: 1px;
    border-radius: 10px;
}

nav li {

    display:inline;
    margin-right: 20px; 

}

nav a {

    color:rgb(57, 60, 65);

    text-decoration: none; 
    
}